.section-slide {
    width: 100%;
    max-width: 1700px;
    margin: 60px auto;
    display: flex;
    gap: 20px;
  }
  
  .slider-for {
    width: 1000px;
    height: 500px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .slider-for img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  
  .slider-nav {
    width: calc(680px);
  }

  .slider-nav .slick-arrow {
    background: #000;
  }

  .slider-nav .slick-slide {
    width: 300px;
    height: 500px;
  }
  
  .slider-nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .slick-slide {
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .custom-slider {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .slider-grid {
    display: grid;
    grid-template-columns: 6fr 4fr;
    height: 100%;
    gap: 10px;
  }
  
  .big-slide,
  .small-slides {
    position: relative;
    overflow: hidden;
  }
  
  .big-slide img,
  .small-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .small-slides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  /* Animation */
  /* .big-slide img.slide-out {
    transform: translateX(-100%);
  }
  
  .small-slides img.slide-up {
    transform: translateX(-100%);
  }
  
  .small-slides img.slide-in {
    transform: translateX(-100%);
  } */
  
  .controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
  }
  
  .controls button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  